.footer-logo{
	font-size: 28px;
	color: #fff;
}

#page-tree{
	margin-bottom: 20px;
}

#hightlight-sec-2{
	padding: 92px;
	margin-bottom: 20px;
}

.meeting i{
	font-size: 24px;
	padding: 5px 10px;
}

.meeting .list-inline>li{
	padding: 0;
}

.current-meeting{
	margin-bottom: 40px;
}

.current-meeting h1{
	margin: 30px;
	font-size: 36px;
	font-weight: 600;
}

.current-meeting .blog-items {
	border: none;
}

.current-meeting a.btn{
	width: 100%;
	padding: 28px 56px;
	font-weight: 600;
	font-size: 20px;
	margin-top: 20px;
}

.mail-chimp{
	margin: 20px;
}

.email-signup{
	
}

.slider-heading a {
	color: #fff;
}