.footer-logo{
	font-size: 28px;
	color: #fff;
}

#hightlight-sec-2{
	padding: 92px;
}

.meeting i{
	font-size: 24px;
	padding: 5px 10px;
}

.meeting .list-inline>li{
	padding: 0;
}

.meeting-list h1{
	border-bottom: solid 1px #ddd;
	padding-bottom: 20px;
}

.blog-items{
	border: none;
}

.current-meeting{
	margin-bottom: 40px;
}

.current-meeting h1{
	margin: 40px;
	font-size: 36px;
	font-weight: 600;
}

.current-meeting .blog-items {
	border: none;
}

.current-meeting a.btn{
	width: 100%;
	padding: 28px 56px;
	font-weight: 600;
	font-size: 20px;
	margin-top: 20px;
}

.mail-chimp{
	margin: 20px;
}

.email-signup{
	
}

.slider-heading a {
	color: #fff;
}

.about{
	padding-bottom: 20px;
}

#page-tree.sponsor-banner{
	padding-top: 25px;
}

#page-tree.sponsor-banner h1{
	font-size: 36px;
	font-weight: 600;
}

@media(max-width:767px){
    /*for slider text*/
    .slider-heading{
        font-size: 2.9em;
        margin-top: 10px;
    }
    .navbar-brand{
        padding-top: 15px;
    }
    #page-tree{
        padding-top: 25px !important; 
    }
   
}


