---
layout: justbootstrap
---

<div id="email" class="container">

{% for meeting in site.meetings %}
{% if forloop.last %}

<p>Join us Thursday, {{ meeting.date | date: "%B %-d" }}, to talk with {{ meeting.speaker}} at the Dallas C# Sig!</p>

<p><a href="{{ meeting.eventbrite }}">Register for the meeting here.</a></p>

<p><strong>{{ meeting.title }}</strong></p>

<p><strong><u>Abstract</u></strong></p>

{% for item in meeting.abstract %}
    <p>
        {{ item }}
    </p>
{% endfor %}

<p><strong><u>{{meeting.speaker}}'s Bio</u></strong></p>

{% for item in meeting.bio %}
    <p>
        {{ item }}
    </p>
{% endfor %}

<p><strong><u>Schedule</u></strong></p>
{{ meeting.date | date: "%B %-d, %Y" }}
{% include schedule.html %}

<p><a href="{{ meeting.eventbrite }}">Register for the meeting here.</a></p>

{% endif %}
{% endfor %}

<p>You can see some of the older presentations at <a href="http://usergroup.tv/?cat=73">usergroup.tv.</a> Thanks to Shawn Weisfeld for recording these.</p>

<p>We meet on the first Thursday of the month at the Improving offices.</p>
<p>Improving's address is:</p>
{% include address.html %}

<br>
<p>See you there...</p>
<p>Michael and Cas</p>

<p><a href="http://dallas-csharp-sig.com">Dallas C# Sig</a></p>
<p><a href="http://provenstyle.com">Michael's Blog</a></p>
<p><a href="http://dotnetsurfers.com">Latish's Blog</a></p>
<p>{% include improvingLink.html %}</p>

</div>
