<div class="blog-items meeting">
    
    <h2><a href="{{ page.url | prepend: site.baseurl }}" class="hover-color">{{ page.title }}</a></h2>
    <ul class="list-inline blog-post-list">
        <li>
            <i class="ion-calendar"></i>
            {{ page.date | date: "%B %-d, %Y" }}
        </li>

        {% if page.speaker %}
        <li>|</li>
        <li>
            <i class="ion-ios7-person"></i>{{ page.speaker }}
        </li>
        {% endif %}

        {% if page.twitter %}        
        <li>|</li>
        <li>
            <a href="https://twitter.com/{{ page.twitter }}" class="hover-color">
                <i class="ion-social-twitter-outline"></i>
            </a>
        </li>
        {% endif %}

        {% if page.github %}        
        <li>|</li>
        <li>
            <a href="{{ page.github }}" class="hover-color">
                <i class="ion-social-github-outline"></i>
            </a>
        </li>
        {% endif %}

    </ul>

    <h3>Abstract</h3>
    
    {% for item in page.abstract %}
    <p>
        {{ item }}
    </p>
    {% endfor %}


    {% if page.bio %}
    <h3>{{ page.speaker }}'s Bio</h3>
    <p>
        {{ page.bio }}
    </p>
    {% endif %}

</div>
