<section id="latest-news" class="padding-60">
    <div class="container">
        <div class="row">
            
            <!-- <div class="col-md-12 margin-btm40 text-center">
                <h1>Sponsors</h1>
            </div> -->
            
            <div class="col-sm-4 col-xs-12 margin-btm20">
                <a href="blog-post.html">
                    <div class="image-sec">
                        <img class="img-responsive" src="img/img-6.jpg" alt="Portfolio">
                        <div class="image-overlay">
                            <p>
                                <i class="ion-ios7-plus-empty"></i>
                            </p>
                        </div>
                    </div> <!--image-->                          
                </a>
            </div>
            
            <div class="col-sm-4 col-xs-12 margin-btm20">
                <a href="blog-post.html">
                    <div class="image-sec">
                        <img class="img-responsive" src="img/img-1.jpg" alt="Portfolio">
                        <div class="image-overlay">
                            <p>
                                <i class="ion-ios7-plus-empty"></i>
                            </p>
                        </div>
                    </div> <!--image-->                          
                </a>
            </div>
            
            <div class="col-sm-4 col-xs-12 margin-btm20">
                <a href="blog-post.html">
                    <div class="image-sec">
                        <img class="img-responsive" src="img/img-2.jpg" alt="Portfolio">
                        <div class="image-overlay">
                            <p>
                                <i class="ion-ios7-plus-empty"></i>
                            </p>
                        </div>
                    </div> <!--image-->                          
                </a>
            </div>

            <div class="col-sm-4 col-xs-12 margin-btm20">
                <a href="blog-post.html">
                    <div class="image-sec">
                        <img class="img-responsive" src="img/img-6.jpg" alt="Portfolio">
                        <div class="image-overlay">
                            <p>
                                <i class="ion-ios7-plus-empty"></i>
                            </p>
                        </div>
                    </div> <!--image-->                          
                </a>
            </div>
            
            <div class="col-sm-4 col-xs-12 margin-btm20">
                <a href="blog-post.html">
                    <div class="image-sec">
                        <img class="img-responsive" src="img/img-1.jpg" alt="Portfolio">
                        <div class="image-overlay">
                            <p>
                                <i class="ion-ios7-plus-empty"></i>
                            </p>
                        </div>
                    </div> <!--image-->                          
                </a>
            </div>
            
            <div class="col-sm-4 col-xs-12 margin-btm20">
                <a href="blog-post.html">
                    <div class="image-sec">
                        <img class="img-responsive" src="img/img-2.jpg" alt="Portfolio">
                        <div class="image-overlay">
                            <p>
                                <i class="ion-ios7-plus-empty"></i>
                            </p>
                        </div>
                    </div> <!--image-->                          
                </a>
            </div>  
            
            <div class="divied-40"></div>
            
        </div><!--row-->    
    </div><!--container-->
</section><!--latest news-->